{% extends 'base.html' %}

{% block content %}
<div class="container-aboutme">
        <div class="aboutme-pic1">
            <div class="pic1-container">
                <img src="/static/img/pic2.jpeg">
            </div>
            <p>&nbsp;&nbsp;My name is Rares Mihai Romanov and I recently discovered my passion for web design. Initially I started learning about programming and web development being constrained by the pandemic but as I increased my knowledge and deepened the information, I realized that I like and want to get a job in this field. At first I learned the basics of HTML and CSS on my own, but then I decided to start a specialized course in Python programming. I am currently learning JavaScript on my own, aiming to master frameworks such as React, Node, Angular, Vue in the future.</p>
        </div>
        <br>
        <div class="aboutme-pic1">
            <p>
                &nbsp;&nbsp;I am a very friendly and communicative person, always looking to learn and experience new things. I like both teamwork and working alone, helping people or colleagues to be as efficient as possible and save time. Some of my hobbies are cooking, nature walks and most importantly, music. I discovered music from an early age, experimenting with a wide variety of genres but at the same time maintaining my affinity for electronic music of any kind. Over time, my passion for music became a way of expression and I started producing songs and being a DJ. I currently own a vinyl record label called Dynastique Label, I am the author of over six vinyl records and I travel abroad from time to time to play music in clubs or parties.
            </p>
            <div class="pic1-container">
                <img src="/static/img/pic1.jpeg">
            </div>

        </div>
        <br>
                <br>
        <div class="studies-certifications-exp">
            <div class="studies">
                <h2>Studies:</h2>
                <ul>
                    <li><strong>High School</strong>: Colegiul Tehnic "Gheorghe Bals", Adjud (Sep 2011 - Jun 2014)</li>
                    <li>
                        <strong>Bachelor's:</strong> Universitatea POLITEHNICA din Bucuresti, Bucharest (Oct 2014 - Present)
                    </li>
                </ul>
            </div>
            <br>
            <div class="certifications">
                <h2>Certifications:</h2>
                <ul>
                    <li>Software Development Academy Python from
                        Scratch (2020)
                        <ul>
                            <li>Python</li>
                            <li>Software testing</li>
                            <li>Algorithms and data structure</li>
                            <li>GIT + command line basics</li>
                            <li>Design pattern and good practices</li>
                            <li>Introduction to Linux</li>
                            <li>Docker</li>
                            <li>SQL Databases - MySQL, NoSQL databases - MongoDB</li>
                            <li>Databases programming</li>
                            <li>HTML, CSS</li>
                            <li>Frontend and backend technologies</li>
                            <li>Introduction to Selenium WebDriver</li>
                            <li>DJANGO Framework</li>
                        </ul>
                    </li>
                    <br>
                    <li>Oracle Academy Database Design and
                        Programming with SQL (2013)</li>
                    <br>
                    <li>CISCO IT Essentials: PC Hardware and Software (2014)
                        <ul>
                            <li>Define Information Technology(IT) and describe the components of a personal
                                computer.</li>
                            <li>Explain the purpose of preventive maintenance and indentify the elements of the
                                troubleshooting process.</li>
                            <li>Install and navigate an operating system.</li>
                            <li>Configure computers to attach to an existing network.</li>
                        </ul>
                    </li>
                    <br>
                    <li>CISCO CCNA Discovery: Networking for Home
                        and Small Businesses (2014)
                    <ul>
                        <li>Recognize and mitigate security threats to a home network.</li>
                        <li>Configure and certify common Internet applications.</li>
                        <li>Configure basic IP services through a GUI.</li>
                        <li>Verify and troubleshoot network and Internet connectivity.</li>
                    </ul></li>
                </ul>
            </div>
            <br>
            <div class="experience">
                <h2>Work experience:</h2>
                <ul>
                    <li>QA Tester - Electronic Arts (EA), Bucharest (Jun 2015 - Sep 2015)
                        <ul>
                            <br>
                            <li>Analyzing users stories and/use cases/requirements for validity and feasibility</li>
                            <li>Collaborate closely with other team members and departments</li>
                            <li>Detect and track software defects and inconsistencies</li>
                            <li>Provide timely solutions</li>
                            <li>Provide support and documentation</li>
                            <li>I developed the ability to work in a team, both with colleagues of the same
                                nationality and with colleagues of another nationality.</li>
                            <li>I had the role of testing a video game and see the evolution of it, until its release
                                date.</li>
                        </ul>
                    </li>
                    <br>
                    <li>Chef - Have a cigar Pub, Bucharest (Nov 2015 - Apr 2018)
                        <ul>
                            <br>
                            <li>My role was to prepare food for the bar's customers, both for a small number of
                                people and for parties that occupied the entire capacity of the bar.</li>
                            <li>I have developed an increased ability to work under stress, performing multiple
                                tasks in very short time intervals. I also learned to adapt the final product, depending
                                on the customer's request and desire.</li>
                        </ul>
                    </li>
                    <br>
                    <li>Chef Aid - Fish House, Bucharest (May 2019 - Sep 2019)
                        <ul>
                            <br>
                            <li>My main role was to provide all the necessary raw materials.</li>
                            <li>I learned to work in a team in conditions of stress and very short deadlines,
                                without them damaging the quality of the final product.</li>
                        </ul>
                    </li>
                    <br>
                    <li>Music Producer / DJ - Freelancer, World Wide (2013 - Present)
                        <ul>
                            <br>
                            <li>Editing recording and mixing music.</li>
                            <li>Ensured quality control of all music recordings.</li>
                            <li>Handled integration of sound recordings into overall production.</li>
                            <li>Managed logistics of each recording project, including aspects such as budget,
                                equipment, and venue.</li>
                            <li>Worked with artists to ensure that recordings meet client needs.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}