{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-contact">
        <div>
            <a class="resume-link" href="{% static 'files/CV_Rares_Mihai_Romanov.pdf'%}" target="_blank">Resume</a>
        </div>
        <div class="links-list">

            <div class="link-box">
                <a class="link-box-contact" href="https://github.com/raresromanov" target="_blank">
                    <img class="github" src="/static/img/github_logo.png">
                    <p>Git Hub Link</p>
                </a>
            </div>
            <div class="link-box">
                <a class="link-box-contact" href="https://www.facebook.com/rares.romanov" target="_blank">
                    <img class="github" src="/static/img/facebook_logo6.png">
                    <p>Facebook Link</p>
                </a>
            </div>
            <div class="link-box">
                <a class="link-box-contact" href="https://www.instagram.com/rares.romanov/" target="_blank">
                    <img class="github" src="/static/img/instagram_logo.png">
                    <p>Instagram Link</p>
                </a>
            </div>
            <div class="link-box">
                    <a class="link-box-contact" href="https://www.linkedin.com/in/rares-romanov-1ba39b1ba/" target="_blank">
                    <img class="github" src="/static/img/linkedin_logo.png">
                    <p>LinkedIn Link</p>
                     </a>
            </div>
            <div class="link-box">
                <a class="link-box-contact" href="https://soundcloud.com/raresromanov" target="_blank">
                    <img class="github" src="/static/img/soundcloud-512.png">
                    <p>SoundCloud Link</p>
                </a>
            </div>
            <div class="link-box">
                <a class="link-box-contact" href="https://raresromanov.bandcamp.com/" target="_blank">
                    <img class="github" src="/static/img/bc-logotype-light-512.png">
                    <p>BandCamp Link</p>
                </a>
            </div>
            <div class="link-box">
                <a class="link-box-contact" href="https://open.spotify.com/artist/3yWkVSwlIG7XytashjuIHe" target="_blank">
                    <img class="github" src="/static/img/spotify-512.png">
                    <p>Spotify Link</p>
                </a>
            </div>
            <div class="link-box">
                <a class="link-box-contact" href="https://www.youtube.com/channel/UCt1qS7ozuLTFfnxt7HQ29QA" target="_blank">
                    <img class="github" src="/static/img/youtube-logo-transparent-24.png">
                    <p>YouTube Link</p>
                </a>
            </div>

        </div>
    </div>

{% endblock %}