{% extends 'base.html' %}

{% block content %}
 <main>
        <div class="container-index">
            <div class="avatar-container">
                <img class="avatar" src="/static/img/avatar.jpg">
            </div>
            <div class="name-description">
                <div>
                    <p class="hi-text">Hi, my name is</p>
                </div>
                <div>
                    <p class="hi-text-name">Rares Mihai Romanov</p>
                </div>
                <div class="short-description">
                    My goal is to secure a position at an IT Software company where I can continue
    to grow and improve myself both personally and professionally. I like to learn
    new things from all sectors of the field in which i work, in order to form an
    overall picture as clear as possible, to increase my efficiency and help others.
                </div>
            </div>
        </div>
        <div class="medias">
            <div class="box-media">
                <a href="https://www.linkedin.com/in/rares-romanov-1ba39b1ba/" target="_blank">
                    <img class="linkedin" src="/static/img/linkedin_logo.png">
                </a>
            </div>
            <div class="box-media">
                <a href="https://www.facebook.com/rares.romanov" target="_blank">
                    <img class="facebook" src="/static/img/facebook_logo6.png">
                </a>
            </div>
            <div class="box-media">
                <a class="github-link" href="https://github.com/raresromanov" target="_blank">
                    <img class="github" src="/static/img/github_logo.png">
                </a>
            </div>
        </div>
    </main>
{% endblock %}